Mayble

Requirements:
  - Sort by:
    - Author
    - Title 
    - Genre
  - Read Status
    - Rating
    - Completion Date
  - Loaned Out Status
    - date
    - Borrower name
  - User Friendly
  - Pretty (if possible)
